* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

button , button:active , button:focus  ,
input , input:focus , input:active {
    //border: none;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-circle {
    position: absolute;
    top: -40%;
    left: 60%;
    transform: translateX(-60%);
    background-color: #ecf0f3;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    z-index: -1;
}

.container {
    z-index: 2;
    width: 320px;
    height: 640px;
    box-shadow: 2px 8px 20px 10px #c9c4c4;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fefefe;
    position: relative;
    /*background-color: black;*/
    /*background: url("img/1.jpg") no-repeat;*/
    /*background-size: cover;*/
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, #0000, #0006), url("img/bg.jpeg") no-repeat;
    background-size: cover;
    transition: all ease-in-out 0.45s;
}

.main-container .title {
    text-align: center;
    color: #ffffff;
    z-index: 3;
    padding: 0 20px;
}

.title h1 {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #f8f8f8;
    text-shadow: 0 1px 5px #444;
}

.title p {
    font-size: 1rem;
    color: rgba(217,217,217,1);
    text-shadow: 0 1px 10px #222222;
}

.main-buttons {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.main-container.show-form {
    height: 62%;
    border-radius: 0 0 50% 50% / 0 0 30% 30%;
}

.main-container.show-form .main-buttons {
    display: none;
}

.main-container.show-form .cancel {
    display: block;
}

.main-buttons button {
    border-radius: 25px;
    background-color: white;
    color: #333333;
    text-transform: uppercase;
    display: block;
    width: 220px;
    padding: 12px 0;
    margin-bottom: 10px;
    transition: all 0.1s;
    cursor: pointer;
    border: none;
}

.main-buttons button:active {
    transform: scale(1.09);
}

.main-buttons .facebook-btn {
    background-color: #3b5998;
    color: white;
    margin-bottom: 40px;
}

.main-buttons .create-new-account {
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    display: block;
}

.cancel {
    position: absolute;
    bottom: -18px;
    cursor: pointer;
}

.cancel img {
    background-color: #f8f8f8;
    border-radius: 50%;
    width: 30px;
    padding: 6px;
    box-shadow: 0 1px 5px 1px #777;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38%;
}

form input , form button {
    width: 220px;
    display: block;
    margin: 0 auto 5px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    padding: 8px 12px;
}

form input::placeholder {
    color: #aaaaaa;
    letter-spacing: 1px;
    font-size: 11px;
}

form input:focus {
    box-shadow: 2px 2px 6px 1px #dddddd;
}

form .cta {
    cursor: pointer;
    background-color: #ffffff;
    transition: all ease 0.2s;
    box-shadow: 0 2px 6px 1px #dddddd;
    color: #777777;
    margin-top: 12px;
}

form .cta:hover {
    background-color: #43a43f;
    color: white;
}

.form.hide {
    margin-top: -260px;
}

.login-form  , .register-form , .cancel {
    display: none;
    transition: all ease 0.5s;
}

.text-after-action {
    display: none;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 6%;
}

.created-by {
    color: #202F43;;
    margin-bottom: -55px;
    font-size: 18px;
    font-weight: 300;
}

.love-icons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    left: 0;
    right: 0;
}

@keyframes bopbop {
    0% { transform: scale(1.05)}
    50% { transform: scale(1.3)}
    100% { transform: scale(1)}
}

.love-icons img {
    object-fit: cover;
    max-width: 32px;
    animation: bopbop 1s infinite forwards 2.5s;
}


@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: #202F43;
    }
}

@keyframes move {
    0% { top:50%; }
    25% { top:70%; }
    75% { top:60%; }
    25% { top:50%; }
}

#logo {
    width: 60%;
    animation: fill 1s ease forwards 3s ,
    move 1s ease forwards 5s ;
}

#logo path:nth-child(1) {
    stroke-dasharray: 1104;
    stroke-dashoffset: 1104;
    animation: line-anim 2s ease forwards 0.2s;
}

#logo path:nth-child(2) {
    stroke-dasharray: 725;
    stroke-dashoffset: 725;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 755;
    stroke-dashoffset: 755;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 782;
    stroke-dashoffset: 782;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 747;
    stroke-dashoffset: 747;
    animation: line-anim 2s ease forwards 1.4s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 812;
    stroke-dashoffset: 812;
    animation: line-anim 2s ease forwards 1.2s;
}
